.input {
  height: 720px;
  width: 380px;
  background-color: #86d3f4;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  .input__text-number {
    padding: 72px 54px 0 54px;
    font-size: 26px;
    line-height: 30px;
    font-weight: 450;
  }
  .input__phone {
    font-size: 26px;
    line-height: 37px;
    font-weight: bold;
    padding: 13px 60px 13px 60px;
  }
  .input__paragraph {
    margin-block-end: 0;
    margin-block-start: 0;
    padding: 0px 25px 30px 25px;
  }
  .input__numbers {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 88px);
    grid-template-rows: repeat(3, 52px);
    div {
      outline: 2px solid black;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
    }
    div:hover {
      background-color: black;
      color: white;
    }
  }
  .input__delete {
    padding-top: 10px;
    display: grid;
    gap: 10px;
    grid-template-columns: 186px 88px;
    grid-template-rows: 52px;
    grid-template-areas: "back zer";
    align-items: stretch;
    justify-items: stretch;
    margin-bottom: 30px;
    font-weight: bold;
    text-transform: uppercase;
    .input__zero {
      grid-area: zer;
      outline: 2px solid black;
      display: grid;
      align-content: center;
    }
    .input__zero:hover{
      background-color: black;
      color: white;
    }
    .input__backspace {
      grid-area: back;
      outline: 2px solid black;
      display: grid;
      align-content: center;
    }
    .input__backspace:hover{
      background-color: black;
      color: white;
    }
  }
  .input__agreement {
    margin-left: 48px;
    display: flex;
    max-width: 228px;
    align-self: flex-start;
    margin-bottom: 20px;
    .input__span-text {
      color: #565656;
      padding-left: 20px;
      align-self: flex-start;
    }
    .input__check {
      input[type="checkbox"] {
        display: none;
        margin: 0;
      }
      input[type="checkbox"]:checked + .input__label {
        background-image: url("../styles/background/check.png");
        background-size: 50%;
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: center;
      }
      .input__label {
        outline: 2px solid #000;
        width: 40px;
        height: 40px;
        display: inline-block;
        /* background: url("unchecked.png") no-repeat left center; */
        /* padding-left: 15px; */
      }
    }
  }
  .input__button-submit {
    width: 283px;
    height: 50px;
    text-transform: uppercase;
    outline: 2px solid #565656;
    color: #565656;
    background-color: #86d3f4;
    border: none;
    font-weight: bold;
  }
}
