.main{
    display: flex;
    background-image: url(./background/background.jpg);
    width: 1280px;
    height: 720px;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;

}